name: ez2boot
services:
  ez2boot:
    image: maldotcom2/ez2boot:latest # Use a fixed version after initial testing
    container_name: ez2boot
    environment:
      PORT: 8000
      CLOUD_PROVIDER: aws
      AWS_REGION: ap-southeast-2
    ports:
     - 8000:8000
    volumes:
      - ./data:/app/data
    restart: unless-stopped
