name: Build and Push Docker Image

on:
  release:
    types: [published]

jobs:
  build-and-push:
    # This defines the runner environment
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build --pull -f deployments/dockerfile \
          --build-arg VERSION=${{ github.ref_name }} \
          --build-arg BUILD_DATE=$(date -u +"%Y-%m-%dT%H:%M:%SZ") \
          -t maldotcom2/ez2boot:${{ github.ref_name }} \
          .
          docker tag maldotcom2/ez2boot:${{ github.ref_name }} maldotcom2/ez2boot:latest

      - name: Push Docker image
        run: |
          docker push maldotcom2/ez2boot:${{ github.ref_name }}
          docker push maldotcom2/ez2boot:latest
