html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

:root {
  --main-blue:rgb(53, 127, 255);
  --low-glare:rgb(228, 228, 228);
  --btn:rgb(53, 127, 255);
  --btn-disabled:rgb(145,145,145);
  --error-msg: rgb(160, 34, 34);
  --success-msg: rgb(228, 228, 228);
}

h1 {
    color: var(--low-glare);
}

input {
    background-color: var(--low-glare);
    border: none;
}

input:focus {
  outline: none
}

.message.error {
    color: var(--error-msg);
}

.message.success {
    color: var(--success-msg);
}
