html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: Arial, sans-serif;
}

:root {
  --background:rgb(20, 28, 43);
  --container-modal:rgb(36, 44, 57);
  --low-glare:rgb(228, 228, 228);
  --btn-blue:rgb(53, 127, 255);
  --btn-disabled:rgb(145,145,145);
  --error-msg: rgb(160, 34, 34);
  --success-msg: rgb(228, 228, 228);
}

h1 {
    color: var(--low-glare);
}

input {
    background-color: var(--low-glare);
    border: none;
    border-radius: 7px;
}

input:focus {
  outline: none
}

button {
  padding: 10px 20px;
  background-color: var(--btn-blue);
  color: var(--low-glare);
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

button:disabled {
  background-color: var(--btn-disabled);
  cursor: not-allowed;
}

input:disabled {
  background-color: var(--btn-disabled);
  cursor: not-allowed;
}

button:not(:disabled):hover {
  filter: brightness(1.3);
}

.message.error {
    color: var(--error-msg);
}

.message.success {
    color: var(--success-msg);
}
